.team-history {}

.team-history .search {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #FFF3E0;
    padding: 1rem 5rem 1rem 5rem;
}

.team-history .search h1 {
    color: #63A44C;
}

.team-history .search .input-container {
    position: relative;
    border: 1px solid black;
}
.team-history .search .input-container input {
    background-color: white;
    height: 3.5rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 3rem;
}
.team-history .search .input-container svg {
    left: 1rem;
    top: 1rem;
    position: absolute;
}

.team-history .matches {
    background-color: #FFFCF7;
    padding: 4rem 5vw 4rem 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.team-history .matches .match-item {
    border: 1px solid black;
    background-color: white;
    width: 75vw;
    height: 14rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.team-history .matches .match-item .left {
    color: white;
    width: 5rem;
    font-weight: 500;
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-history .matches .match-item .middle {
    margin: auto;
}
.team-history .matches .match-item .score-middle {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
.team-history .matches .match-item .score-middle .avatar {
    width: 5rem;
    border-radius: 50%;
}
.team-history .matches .match-item .score-middle .team {
    font-size: 2.2rem;
    font-weight: 600;
}
.team-history .matches .match-item .score-middle .score {
    font-size: 2rem;
    font-weight: 600;
    color: #63A44C;
}
.team-history .matches .match-item .middle .match-info {
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

.team-history .matches .match-item .update-btn {
    border: 1px black solid;
    background-color: #FFF3E0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
    bottom: 1rem;
    position: absolute;
    right: 1rem;
    color: black;
}
.team-history .matches .match-item .update-btn:hover {
    background-color: #FFFCF7;
}

.team-history .matches .match-item .status-div {
    position: absolute;
    left: 7rem;
    bottom: 2rem;
}
.team-history .matches .match-item .status-div span {
    font-weight: 600;
}

.team-history .help-btn {
    position: fixed;
    right: 3rem;
    bottom: 7rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.3);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.team-history .help-div {
    position: fixed;
    right: 7rem;
    bottom: 9rem;
    background-color: white;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    padding: 2rem;
    line-height: 1.5rem;
    background-color: #FFFCF7;
}

.team-history .timeline-div {
    border: 1px solid black;
    border-top-color: transparent;
    background-color: #FFF3E0;
}
