.team-info h1 {
    margin: 0;
}

.team-info .team-info-detail {
    display: flex;
    background-color: #FFF3E0;
    box-sizing: border-box;
    padding: 3rem;
    column-gap: 5vw;
}

.team-info .team-info-detail .avatar {
    width: 17rem;
    border-radius: 50%;
}

.team-info .team-info-detail .right h1 {
    color: #63A44C;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.team-info .team-info-detail .right .info-detail {
    line-height: 1.8rem;
    font-weight: 500;
}

.team-info .team-info-detail .right span {
    font-weight: bold;
    color: #63A44C;
}

.team-info .members {
    background-color: #FFFCF7;
    padding: 2rem 10vw 4rem 10vw;    ;
}

.team-info .members h1 {
    margin-bottom: 3rem;
    color: #63A44C;
}

.team-info .members .members-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 7vh;
    column-gap: 4vw;
    justify-content: start;
    box-sizing: border-box;
}

.team-info .team-info-detail .right .matching-btn {
    cursor: pointer;
    position: absolute;
    top: 20rem;
    right: 9vw;
    background-color: #FFFCF7;
    color: black;
    border: none;
    font-size: 1.3rem;
    padding: 1rem 0 1rem 0;
    width: 10rem;
    border: 1px solid black;
}
.team-info .team-info-detail .right .matching-btn:hover {
    box-shadow: 0 0 0 4px #FFF3E0, 0 0 0 6px black;
}

.team-info .team-info-detail .right .join-team-btn {
    cursor: pointer;
    position: absolute;
    top: 15rem;
    right: 9vw;
    width: 10rem;
    background-color: #FFFCF7;
    color: black;
    border: none;
    font-size: 1.3rem;
    padding: 1rem 0 1rem 0;
    border: 1px solid black;
}
.team-info .team-info-detail .right .join-team-btn:hover {
    box-shadow: 0 0 0 4px #FFF3E0, 0 0 0 6px black;
}


/* pop up */
.matching-form, .team-info .join-team-confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.matching-form .background, .team-info .join-team-confirm .background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.202);
    cursor: pointer;
}
.matching-form .content {
    position: relative;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(0.8);
    width: 40rem;
    height: 25rem;
    background-color: #FFF3E0;
    z-index: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.matching-form .content .title {
    color: #63A44C;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.matching-form .content input,.matching-form .content textarea {
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.matching-form .content .submit {
    background-color: #63A44C;
    border: none;
    color: white;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}
.matching-form .content .submit:hover {
    background-color: #5b9546;
}

.matching-form .content .close {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    color: black;
    background-color: #FFFCF7;
    border: 1px solid black;
    cursor: pointer;
}

.team-info .join-team-confirm .content {
    position: relative;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(0.8);
    width: 40rem;
    height: 13rem;
    background-color: #FFF3E0;
    z-index: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-info .join-team-confirm .content h2 {
    color: #63A44C;
    margin-bottom: 2rem;
}
.team-info .join-team-confirm .content .confirm {
    cursor: pointer;
    border: none;
    background-color: #63A44C;
    color: white;
    font-size: 1rem;
    height: 3rem;
    width: 7rem;
    margin-right: 2rem;
}
.team-info .join-team-confirm .content .confirm:hover {
    background-color: #5b9546;
}
.team-info .join-team-confirm .content .cancel {
    cursor: pointer;
    border: 1px solid black;
    background-color: #FFF3E0;
    font-size: 1rem;
    height: 3rem;
    width: 7rem;
    color: black;
}
.team-info .join-team-confirm .content .cancel:hover {
    background-color: #FFFCF7;
}

.team-info .navigate-bar {
    background-color: #FFFCF7;
    border: 1px solid #63A44C;
    column-gap: 5vw;
    display: flex;
    padding: 1.5rem 0 1.5rem 8vw;
}
.team-info .navigate-bar a {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}
.team-info .navigate-bar a:hover {
    color: #63A44C;
}

.team-info .matching-form select.my-team-list {
    margin: 0.5rem 0 2rem 0;
    border: 1px solid black;
    font-size: 1rem;
    width: 20rem;
}

.team-info .matching-form label {
    font-weight: 600;
}
