
.member-info h1 {
    margin: 0;
}

.member-info .member-info-detail {
    height: 100vh;
    display: flex;
    background-color: #fff9f1;
    box-sizing: border-box;
    padding: 3rem;
    column-gap: 5vw;
}

.member-info .member-info-detail .avatar {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
}

.member-info .member-info-detail .right h1 {
    color: #63A44C;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.member-info .member-info-detail .right .info-detail {
    line-height: 1.8rem;
    font-weight: 500;
}

.member-info .member-info-detail .right span {
    font-weight: bold;
    color: #63A44C;
}

/* .member-info . */